<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h2>Новый пользователь</h2>
<p></p>
<form th:action="@{/add}" th:object="${newuser}" method="post">
    <table>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>:</td>
            <td><select th:field="*{gender}">
                <option th:each="type : ${genders}"
                        th:value="${type}"
                        th:text="${type}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>:</td>
            <td><input type="tel" th:field="*{phoneNo}"/></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>:</td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
    </table>
    <button type="submit" name="action" value="cancel">Отмена</button>
    <button type="submit" name="action" value="save">Сохранить</button>
</form>
</body>
</html>