<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Юзеры</h2>
<a th:href="@{/}">На главную</a>
<p></p>
<table th:border="3">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Пол</th>
        <th>Телефон</th>
        <th>e-mail</th>
        <th>Действие</th>
    </tr>
    <tr th:each = "user : ${usersList}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.gender}"></td>
        <td th:utext="${user.phoneNo}"></td>
        <td th:utext="${user.email}"></td>
        <td>
            <a th:href="@{/edit/{userId}(userId=${user.id})}">Редактировать </a>
            <a th:href="@{/delete/{userId}(userId=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>
<p></p>
<a th:href="@{/add}">Новый пользователь</a>
</body>
</html>